body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sidebar {
  position: fixed;
  max-width: 300px;
  /* background-color: rgb(12, 11, 11); */
  padding: 35px;
  margin: auto;
  left: -100%;
  top: 64px;
  bottom: 0;
  z-index: 10;
  animation: slideopen 0.75s forwards;
}

@keyframes slideopen {
  100% {
    left: 0;
  }
}
.sidebar.close {
  left: 0;
  animation: slideclose 0.75s forwards;
}
@keyframes slideclose {
  100% {
    left: -100%;
  }
}
.margin {
  position: relative;
  top: 75px;
}
.sidebarclosebtn {
  margin-top: -6px;
  margin-left: 15px;
}
.boxShadow {
  box-shadow: 5px 5px 5px 5px grey;
}
.wrapper {
  position: fixed;
  width: 650px;
  top: 30%;
}
.notif {
  position: fixed;
  margin: auto;
  right: -100%;
  top: 74px;
  z-index: 10;
  animation: notifeopen 0.75s forwards;
}
@keyframes notifeopen {
  100% {
    right: 0;
  }
}
.notif.close {
  right: 0;
  animation: notifclose 0.75s forwards;
}
@keyframes notifclose {
  100% {
    right: -100%;
  }
}
